<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= website.name %> - <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/libraries/bulma.min.css" />
  </head>
  <body>
    <!-- Navbar -->
    <%- include("./partials/navigation") %>

    <!-- Page -->
    <%- include(`./pages/${page}`) %>

    <!-- Footer -->
    <%- include("./partials/footer") %>
  </body>
</html>